<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.cskickitappv2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Menu" />
        <activity android:name=".dbTester" />
        <activity android:name=".create_event" />
        <activity android:name=".showItems" />
        <activity android:name=".choosingEvent" />
        <activity android:name=".Recommendation" />
        <activity android:name=".suggestOnGPS" />
        <activity android:name=".CurrentPlan" />
        <activity android:name=".findByZipCode" />
        <activity android:name=".LoadPlans" />
        <activity android:name=".chat"></activity>
    </application>

</manifest>